<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <display-name>PRIYA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet1</display-name>
    <servlet-name>DemoServlet1</servlet-name>
    <servlet-class>DemoServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet1</servlet-name>
    <url-pattern>/DemoServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rtyui</display-name>
    <servlet-name>rtyui</servlet-name>
    <servlet-class>rtyui</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rtyui</servlet-name>
    <url-pattern>/rtyui</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet2</display-name>
    <servlet-name>DemoServlet2</servlet-name>
    <servlet-class>DemoServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet2</servlet-name>
    <url-pattern>/DemoServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmationServlet</display-name>
    <servlet-name>ConfirmationServlet</servlet-name>
    <servlet-class>ConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmationServlet</servlet-name>
    <url-pattern>/ConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet3</display-name>
    <servlet-name>DemoServlet3</servlet-name>
    <servlet-class>DemoServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet3</servlet-name>
    <url-pattern>/DemoServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewYork</display-name>
    <servlet-name>NewYork</servlet-name>
    <servlet-class>NewYork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewYork</servlet-name>
    <url-pattern>/NewYork</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>London</display-name>
    <servlet-name>London</servlet-name>
    <servlet-class>London</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>London</servlet-name>
    <url-pattern>/London</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tokyo</display-name>
    <servlet-name>Tokyo</servlet-name>
    <servlet-class>Tokyo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tokyo</servlet-name>
    <url-pattern>/Tokyo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminreg</display-name>
    <servlet-name>Adminreg</servlet-name>
    <servlet-class>Adminreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminreg</servlet-name>
    <url-pattern>/Adminreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Flightdetails</display-name>
    <servlet-name>Flightdetails</servlet-name>
    <servlet-class>Flightdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Flightdetails</servlet-name>
    <url-pattern>/Flightdetails</url-pattern>
  </servlet-mapping>
</web-app>